@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .backdrop{
        @apply fixed inset-0 transform transition-all duration-300 backdrop-blur-sm bg-slate-800/50;
    }
    
}

@layer components {
    .border-rainbow {
      border: 2px solid;
      border-image-slice: 1;
      border-image-source: linear-gradient(to right, #ff0000, #ff8000, #ffff00, #80ff00, #00ff00, #00ff80, #00ffff, #0080ff, #0000ff, #8000ff, #ff00ff, #ff0080);
      border-radius: 0.25rem;
    }
}
